/* 
This page determines the style of our webapp pages. 

html : The overall style of the pages. Determines the font family and background.
*    : Centers all of the text on the pages.
h1   : Sets the style of the heading text.
a    : Sets the style of links before and after being clicked.
input: [type=text] sets the style of the input boxes where the user enters text.
       [type=submit] sets the style of the buttons
img  : Determines how images are displayed on the page.
*/

html {
    font-family: Tahoma;
    background: repeating-linear-gradient(
    to right,
    #aed8ff,
    #aed8ff 10px,
    #77c8ff 10px,
    #77c8ff 20px
    );
}

* {
    text-align: center;
}

h1 {
    color: rgb(12, 12, 53);
    font-family: Tahoma, monospace;
    font-weight: bold;
    font-variant: small-caps;
}

a:link{
    color: rgb(29, 63, 255);
    text-align: center;
    display: inline-block;
  }

a:visited {
  color: purple;
  text-align: center;
  display: inline-block;
}

input[type=text]:focus {
      background-color: lightslategray !important;
}

input[type=submit] {
  background-color: #c9b9ad !important;
  border: groove;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
}