<!doctype html>
<title>{% block title %}{% endblock %} - The Drip Gurus Website</title>
<nav>
  <h1>The Drip Gurus Outfit Recommendation System</h1>
  <!-- <b>Navigation:</b> -->
  <ul>
    <li><a href="{{ url_for('homepage') }}">Homepage/a></li>
    <li><a href="{{ url_for('start')}}">Start</a></li>
    <li><a href="{{ url_for('hi') }}">Hi</a></li>
    <li><a href="{{ url_for('recommender') }}">Recommender</a></li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>