<!--
  This is the base html template, from which all other templates will inherit.
  It welcomes the user and provides a link to access the homepage.
-->

<!doctype html>
<head>
  <!--tells page to use pagestyle.css style sheet-->
  <link rel="stylesheet" href="{{ url_for('static', filename='pagestyle.css') }}">
</head>

<h1>{% block title %}The Drip Gurus Website{% endblock %}</h1>

<body>
{% block content %}
  <p>Welcome to our outfit recommendation system!<br>
  In this webapp, we will recommend an outfit for you based on your preferences.</p>

  <p>Click <a href="/homepage/">here</a> to go to our homepage.
{% endblock %}

</body>
</html>