<!doctype html>

<title>Choose Type</title>

{% block content %}
<form method = "post">

    <label for="type">What type of outfit you would like us to recommend?</label>
    <br>
    <label><input type="radio" name="type" value="Topwear">Topwear</label>
    <br>
    <label><input type="radio" name="type" value="Bottomwear">Bottomwear</label>
    <br>
    <label><input type="radio" name="type" value="Shoes">Shoes</label>
    <br>
    <label><input type="radio" name="type" value="Belts">Belts</label>
    <br>
    <label><input type="radio" name="type" value="Socks">Socks</label>
    <br>
    <label><input type="radio" name="type" value="Dress">Dress</label>
    <br><br>

    <input type = "submit" value = "Next">
</form>

{% endblock %}

