<!doctype html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='pagestyle.css') }}">
    <title>Recommender</title>
  </head>

{% block content %}
<form method = "post">

    <label for = "model">Which clothing item do you like the best? Pick one Option!</label>

    {% for m in images %}
    <br> <br>
    <img src = {{m}}>
    <br>
    <input type = "radio" name = "style" value = "{{m}}">
    <br>
    {% endfor %}

    <input type = "submit" value = "Next">
</form>

{% if style %}
<br>
Click <a href = "/similarproducts/{{style}}/">here</a> to go to the Similar Products page!

{% endif %}

{% endblock %}

